#eco_container article {
    padding: 2rem;
}


/* .definicao {
    color: #dae67f;
    text-align: center;
}

.primeira {
    background-color: #172601;
} */

.eco_imagem {
    height: 300px;
    border-radius: 30px;
}


#eco_sobre {
    background-color: #172601   ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: #dae67f;
}

#eco_sobre h2 {
    text-align: center  ;
}

#eco_sobre div {
    display: flex;
    gap: 40px;
}
