/*====SEÇÃO DAS FONTES IMPORTADAS====*/
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Arapey:ital@0;1&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-image: url("../../imagens/banner.png");
    background-position: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Arapey", serif;
    font-weight: 400;
}

body {
    font-family: 'Alice', Arial, Helvetica, sans-serif;
}